<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Studies</key>
	<array>
		<string>1.2.840.113711.4031413.2.6544.351705716.26.2116281012.1110</string>
	</array>
</dict>
</plist>
